#container {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(auto-fill, 25px);
    grid-template-rows: repeat(auto-fill, 25px);
    border: 0.5px solid rgb(199, 199, 199);
}

.grid {
    border: 0.5px solid rgb(199, 199, 199);
    background-color: transparent;
}

.color {
    background-color: antiquewhite;
}