#container {
    display: grid;
    width: 400px;
    height: 400px;
    position: relative;
    top: 150px;
    margin: auto;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: thin solid rgb(0, 0, 0);
}

.grid {
    border: thin solid rgb(0, 0, 0);
    background-color: transparent;
}

#clear {
    border: none;
    color: aliceblue;
    background-color: sandybrown;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
}

#new {
    border: none;
    color: aliceblue;
    background-color: rgb(168, 244, 96);
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
}